<div class="modal in" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" (click)="closeFilter()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body bg-dark text-white">
          <form>
            <div class="form-group my-3">
              <label for="select-category" class="form-label">Select a period</label>
              <select id="select-category" required
                class="form-control bg-dark text-white" 
                id="category" name="category"
                [(ngModel)] = "selectedPeriod"              
              >
                <option *ngFor="let p of timePeriods" [value]="p.type">{{ p.label }}</option>
              </select>
            </div>

            <div class="form-group my-1 has-error">
              <label for="category-value">Choose the type of events</label>
              <div class="form-check">
                <label class="mx-3" *ngFor="let t of types">
                  <input class="form-check-input" 
                    type="checkbox" name="type" id="type" 
                    required [value]="t.type"
                    (change)="handleChangedType($event.target)"
                  >
                  <label class="form-check-label" for="type">
                    {{ t.label }}
                  </label>
                </label>
              </div>
            </div>

            <div class="form-group my-1 has-error">
              <label for="category-value">Choose the category</label>
              <div class="form-check">
                <label class="mx-3" *ngFor="let c of categories">
                  <input class="form-check-input" 
                    type="checkbox" name="type" id="type" 
                    required [value]="c.id"
                    (change)="handleChangedCategory($event.target)"
                  >
                  <label class="form-check-label" for="type">
                    {{ c.name }}
                  </label>
                </label>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer bg-dark text-white">
          <button type="button" class="btn btn-secondary" (click)="closeFilter()" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="applyFilter()">Apply</button>
        </div>
      </div>
    </div>
</div>