<h5 class="card-title">Registration</h5>
<form>
    <div class="form-group my-2">
        <label for="email">Email</label>
        <input type="email" class="form-control underlined" id="email" placeholder="Insert your email">
    </div>
    <div class="form-group my-2">
        <label for="pass">Password</label>
        <input type="password" class="form-control underlined" id="pass" placeholder="Insert your password">
        <span class="form-help-text">Error message.</span>
    </div>
    <div class="form-group my-2">
        <label for="name">Name</label>
        <input type="text" class="form-control underlined" id="name" placeholder="Insert your Name">
    </div>
    <div class="form-group my-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="agree">
            <label class="form-check-label" for="agree">
            Agree with Terms  of Use
            </label>
        </div>
    </div>
    <div class="form-group my-2">
        <button type="submit" class="btn btn-success">Register</button>
    </div>
    <div class="form-group my-2">
        <p class="text-muted text-xs-center">
            Already have an account? <a [routerLink]="'/login'">Login!</a>
        </p>
    </div>   
</form>
