<div class="container my-3">
    <div class="row">
        <div class="col">
            <h3 class="text-white">
                Records Page
            </h3>
        </div>        
    </div>
    <hr class="text-white">
</div>
<div class="container text-center" *ngIf="!isLoaded"><wfm-loader></wfm-loader></div>
<div class="container" *ngIf="isLoaded">
    <div class="row mx-1">
        <div class="col-6">
            <wfm-add-event [categories] = "categories"></wfm-add-event>
        </div>
        <div class="col-6">
            <wfm-add-category (onCategoryAdd)="newCategoryAdded($event)"></wfm-add-category>
        </div>
    </div>
    <div class="row mx-1 my-4">
        <div class="col-6">
            <wfm-edit-category [categories] = "categories" (onCategoryEdit)="categoryWasEdited($event)"></wfm-edit-category>
        </div>
    </div>
</div>