<div class="card bg-dark text-white">
  <div class="card-header">
    <h4>Rates</h4>
  </div>
  <div class="card-body pb-4">
    <blockquote class="blockquote mb-0">
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col">Currency</th>
            <th scope="col">Rate</th>
            <th scope="col">Date</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">EUR</th>
            <td>1</td>
            <td>{{ currency?.updated_date | date:'dd.MM.yyyy' }}</td>            
          </tr>
          <tr>
            <th scope="row">{{ usd }}</th>
            <td>{{ currency?.rates?.['USD'].rate }}</td>
            <td>{{ currency?.updated_date | date:'dd.MM.yyyy' }}</td>            
          </tr>
        </tbody>
      </table>
    </blockquote>
  </div>
</div>