<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card border-0 text-white bg-dark shadow-sm rounded">
                    <div class="card-body p-4">
                        <div class="row align-items-center">                            
                            <div class="col">
                                <ngx-charts-pie-chart
                                    [view]="[545, 355]"
                                    [results]="single"
                                    [legend]="false"
                                    [labels]="true"
                                    [doughnut]="true"
                                    >
                                </ngx-charts-pie-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>